/* Color Palette Variables */


/*$background: #E5F3F2;
$primary-accent: #00A79D;
$secondary-accent: #045E55;
$primary-text: #6D6E71;
$secondary-text: #939598;
$btn-text: #FFF;
$divider: #D1D3D4;*/

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


/* Container elements */

.header-container {
  display: flex;
  width: 100%;
  background-color: #E5F3F2;
  justify-content: center;
}

.main-container,
.idea-form,
.search-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  background-color: #E5F3F2;
  align-items: center;
  justify-content: center;
}

.idea-form,
.search-form {
  width: 90%;
  max-width: 300px;
}

.idea-listing {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  background-color: #FFF;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 300px;
  /*width: 90%;*/
  max-width: 300px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Header Container Element Styling */

header h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
}

h1 span {
  color: #6D6E71;
}


/* Form elements */

.title-input,
.body-input,
.search-input {
  width: 100%;
  height: 26px;
  margin-bottom: 10px;
  color: #939598;
  border: 1px solid #939598;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.body-input {
  height: 100px;
}

.submit-btn {
  width: 100%;
  height: 26px;
  color: #FFF;
  border: 0;
  outline: none;
  background-color: #00A79D;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #045E55;
}

.submit-btn:disabled {
  cursor: not-allowed;
  background-color: #939598;
}


/* Idea Card Styling */

.idea-title {
  text-overflow: ellipsis;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}

.idea-body {
  text-overflow: ellipsis;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.quality-label {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  padding-left: 10px;
}

.idea-quality {
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.divider {
  margin-bottom: 20px;
  color: #D1D3D4;
}

.delete-btn,
.upvote-btn,
.downvote-btn {
  width: 25px;
  height: 25px;
  border: 0;
  outline: none;
}

.delete-btn {
  background: url('../img/delete.svg') no-repeat;
}

.delete-btn:hover {
  cursor: pointer;
  background: url('../img/delete-hover.svg') no-repeat;
}

.upvote-btn {
  background: url('../img/upvote.svg') no-repeat;
}

.upvote-btn:hover {
  cursor: pointer;
  background: url('../img/upvote-hover.svg') no-repeat;
}

.downvote-btn {
  background: url('../img/downvote.svg') no-repeat;
}

.downvote-btn:hover {
  cursor: pointer;
  background: url('../img/downvote-hover.svg') no-repeat;
}

.card-footer {
  display: flex;
  /*width: 100%;*/
  align-items: center;
}


/* Hide the labels */

label {
  display: none;
}

h3 {
  margin: 0;
}

@media(min-width: 1025px) {
  .body-input {
    height: 26px;
  }
}

@media(min-width: 414px) {
  .card {
    /*background-color: teal;*/
  }
}

@media(min-width: 320px) {
  .card {
    /*background-color: yellow;*/
  }
}
